In [12]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_excel("DatasetB.xlsx", converters={'Image': lambda x: str(x)})
data.head()

    Image    Type Diagnosis
0  000001  Benign      CYST
1  000002  Benign      CYST
2  000003  Benign      CYST
3  000004  Benign      CYST
4  000005  Benign      CYST

In [14]:
data.shape

(163, 3)

In [15]:
data.columns

Index(['Image', 'Type', 'Diagnosis'], dtype='object')

In [16]:
data['Image'][147]

'000295'

In [17]:
dat = []
for i in range(0, 163):
    dat.append(data['Image'][i])

In [20]:
for i in range(0, 163):
    print(dat[i])

000001
000002
000003
000004
000005
000006
000007
000008
000009
000010
000011
000012
000013
000014
000015
000016
000017
000018
000019
000020
000021
000022
000023
000024
000025
000026
000027
000028
000029
000030
000031
000032
000033
000034
000035
000036
000037
000038
000039
000040
000041
000042
000043
000044
000045
000046
000047
000048
000049
000050
000051
000052
000053
000054
000055
000056
000057
000058
000059
000060
000061
000062
000063
000064
000065
000066
000067
000068
000069
000070
000071
000072
000073
000074
000075
000076
000077
000078
000079
000080
000081
000082
000083
000084
000085
000086
000087
000088
000089
000090
000091
000092
000093
000094
000095
000096
000097
000098
000099
000100
000101
000102
000103
000104
000105
000106
000107
000108
000109
000110
000111
000112
000113
000114
000115
000116
000117
000118
000119
000120
000121
000122
000123
000124
000125
000126
000127
000128
000129
000130
000131
000132
000133
000134
000135
000136
000137
000138
000139
000140
000141
000142
000143
000144
000145
000146
000147
000295
000296
000297
000298
000299
000300
000301
000302
000303
000304
000305
000306
000307
000308
000309
000310

In [22]:
import pickle
with open('data', 'wb') as fb:
    pickle.dump(dat, fb)

In [23]:
with open('data', 'rb') as fb:
    d = pickle.load(fb)

In [25]:
for i in range(100, 163):
    print(d[i])

000101
000102
000103
000104
000105
000106
000107
000108
000109
000110
000111
000112
000113
000114
000115
000116
000117
000118
000119
000120
000121
000122
000123
000124
000125
000126
000127
000128
000129
000130
000131
000132
000133
000134
000135
000136
000137
000138
000139
000140
000141
000142
000143
000144
000145
000146
000147
000295
000296
000297
000298
000299
000300
000301
000302
000303
000304
000305
000306
000307
000308
000309
000310

In [27]:
len(d)

163

In [28]:
type(d[0])

str